/Day1_feabhas/CMakeLists.txt.user
/Day2_feabhas/CMakeLists.txt.user
/Day3_feabhas/CMakeLists.txt.user
/build-Day1_feabhas-Desktop-Debug/*
/build-Day2_feabhas-Desktop-Debug/*
/build-Day3_feabhas-Desktop-Debug/*
